<% content_for :title_page, "Inventory Data Editor" %>
<% content_for :breadcrumb, "Master Data" %>
<% content_for :page_menu do %>
  <%= render 'inventory_items/shared/form_action_links' %>
<% end %>

<% content_for :side_menu do %>
  <%= render 'inventory_items/shared/side_navigations' %>
<% end %>

<div id="purchase">
	<form class="ui form">
		<div class="ui segment">
			<div class="ui stackable two column grid">
			  <div class="seven wide column left floated">
				  <div class="field">
				  	<label> Inventory Code </label>
				  	<input type="text" class="disabled field">
				  </div>
				  <div class="field">
				  	<label>Reference Code </label>
				  	<input type="text" name="">
				  </div>
				  <div class="field">
				  	<label>Inventory Name*</label>
				  	<input type="text" name="">
				  </div>
				  <div class="field">
				    <label>Group*</label>
				    <select class="ui dropdown">
						  <option value="">Choose Group</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				    <label>Category*</label>
				    <select class="ui dropdown">
						  <option value="">No Data Available</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				    <label>Sub Category*</label>
				    <select class="ui dropdown">
						  <option value="">No Data Available</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
			  	<div class="field">
				    <label>Color</label>
				    <input type="text" name="pq-number" placeholder="PQ Number">
				  </div>
				  <div class="field">
				  	<label> Shelf </label>
				  	<textarea rows="3"></textarea>
				  </div>
				  <div class="field">
				  	<label> Description </label>
				  	<textarea rows="5"></textarea>
				  </div>
			  </div>
			  <div class="seven wide column right floated">
			  	<div class="field">
				    <label>Status*</label>
				    <select class="ui dropdown">
						  <option value="">Active</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				  	<label>Yield(%)*</label>
				  	<input type="text" name="">
				  </div>
				  <div class="field">
				    <label>Unit Inv*</label>
				    <select class="ui dropdown">
						  <option value="">Choose Base</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				    <label>Class*</label>
				    <select class="ui dropdown">
						  <option value="">Choose Class</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				  	<label>Weight Contains*</label>
				  	<input type="text">
				  </div>
				  <div class="field">
				    <label>Base Weight*</label>
				    <select class="ui dropdown">
						  <option value="">Choose Base</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
			  	<div class="field">
				    <label>Type*</label>
				    <select class="ui dropdown">
						  <option value="">Inv.Type</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
			  	<div class="field">
				    <label>Raw Material Category</label>
				    <select class="ui dropdown">
						  <option value="">Select an Option</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				  	<label> Minimum Stock*</label>
				  	<input type="text" name="" placeholder="0.00">
				  </div>
			  </div>
			</div>
		</div>
	</form>
</div>

