<% content_for :title_page, "Customer" %>
<% content_for :breadcrumb, "Master Data" %>
<% content_for :page_menu do %>
  <%= render 'customers/shared/form_action_links' %>
<% end %>

<% content_for :side_menu do %>
  <%= render 'customers/shared/side_navigations' %>
<% end %>


<div id="purchase">
	<form class="ui form">
		<div class="ui segment">
			<div class="ui stackable two column grid">
			  <div class="seven wide column left floated">
			  	<div class="field">
				    <label>Customer Name*</label>
				    <input type="text" name="pq-number" placeholder="PQ Number">
				  </div>
				  <div class="field">
				    <label>Customer No*</label>
				    <input type="text" name="pq-number" placeholder="PQ Number">
				  </div>
			  </div>
			  <div class="seven wide column right floated">
				  <div class="field">
				    <label>Status*</label>
				    <select class="ui dropdown">
						  <option value="">Active</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
			  </div>
			</div>
		</div>
		<div class="ui segment">
			<div class="ui top attached tabular menu">
			  <a class="item active" data-tab="General">General</a>
			  <a class="item" data-tab="Contact_Person">Contact Person</a>
			  <a class="item" data-tab="Billing">Billing</a>
			  <a class="item" data-tab="Logo">Logo</a>
			</div>
			<div class="ui bottom attached tab segment active" data-tab="General">
				<div class="ui stackable two column grid">
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>NPWP</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>City *</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Pos Code</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Phone</label>
							<input type="Number" name="NPWP">
						</div>
						<div class="field">
							<label>Fax</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Email</label>
							<input type="email" name="NPWP">
						</div>
			  	</div>
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>Address 1</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 2</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 3</label>
							<textarea rows="3"></textarea>
						</div>
			  	</div>
			  </div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="Contact_Person">
				<div class="ui stackable two column grid">
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>NPWP</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>City *</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Pos Code</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Phone</label>
							<input type="Number" name="NPWP">
						</div>
						<div class="field">
							<label>Fax</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Email</label>
							<input type="email" name="NPWP">
						</div>
			  	</div>
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>Address 1</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 2</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 3</label>
							<textarea rows="3"></textarea>
						</div>
			  	</div>
			  </div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="Billing">
				<div class="ui stackable two column grid">
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>NPWP</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>City *</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Pos Code</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Phone</label>
							<input type="Number" name="NPWP">
						</div>
						<div class="field">
							<label>Fax</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Email</label>
							<input type="email" name="NPWP">
						</div>
			  	</div>
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>Address 1</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 2</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 3</label>
							<textarea rows="3"></textarea>
						</div>
			  	</div>
			  </div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="Logo">
				<div class="ui stackable two column grid">
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>NPWP</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>City *</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Pos Code</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Phone</label>
							<input type="Number" name="NPWP">
						</div>
						<div class="field">
							<label>Fax</label>
							<input type="text" name="NPWP">
						</div>
						<div class="field">
							<label>Email</label>
							<input type="email" name="NPWP">
						</div>
			  	</div>
			  	<div class="seven wide column left floated">
					  <div class="field">
							<label>Address 1</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 2</label>
							<textarea rows="3"></textarea>
						</div>
					  <div class="field">
							<label>Address 3</label>
							<textarea rows="3"></textarea>
						</div>
			  	</div>
			  </div>
			</div>
		</div>
	</form>
</div>

