<% content_for :title_page, "Purchase Returns" %>
<% content_for :breadcrumb, "Purchasing" %>
<% content_for :page_menu do %>
  <%= render 'purchase_returns/shared/form_action_links' %>
<% end %>

<% content_for :side_menu do %>
  <%= render 'purchase_returns/shared/side_navigations' %>
<% end %>

<div id="purchase">
	<form class="ui form">
		<div class="ui segment">
			<div class="ui stackable two column grid">
			  <div class="seven wide column left floated">
			  	<div class="field">
				    <label>Return No.</label>
				    <input type="text" name="pq-number" class="disabled field" placeholder="PQ Number">
				  </div>
				  <div class="field">
				    <label>Supplier *</label>
				    <select class="ui dropdown">
						  <option value="">Choose PR</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				    <label>PO. Reference*</label>
				    <select class="ui dropdown">
						  <option value="">Choose One</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				    <label>Travel Pass*</label>
				    <input type="text" name="travel-pass" placeholder="Travel Pass">
				  </div>
				  <div class="field">
				    <label>Officer*</label>
				    <select class="ui dropdown">
						  <option value="">Choose Name</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
			  </div>
			  <div class="seven wide column right floated">
			  	<div class="field">
				    <label>Return Date</label>
				    <input type="text" class="datepicker-here" data-date-format="dd MM yyyy">
				  </div>
				  <div class="field">
				    <label>Return by*</label>
				    <select class="ui dropdown">
						  <option value="">Choose Branch</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				    <label>Approved by*</label>
				    <select class="ui dropdown">
						  <option value="">Choose Branch</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
				  <div class="field">
				    <label>Notes</label>
				    <textarea rows="3"></textarea>
				  </div>
			  </div>
			  <div class="seven wide column centered">
				  <a class="ui fluid blue button">
						  Auto Generate By Purchase Request
					</a>	
				</div>
			</div>
		</div>
	</form>
	<div class="ui segment">
		<table class="ui colapsing small table">
		  <thead>
		    <tr>
		      <th width="3%">No</th>
		      <th width="20%">ITEM NAME</th>
		      <th width="15%">RETURN QTY</th>
		      <th width="10%">UNIT</th>
		      <th width="20%">STOCK</th>
		      <th width="20%">AFTER</th>
		      <th width="20%">NOTES</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		    </tr>
		  </tbody>
	  </table>
	</div>
</div>