<div class="three wide column">
  <div class="ui grid stackable">
    <div class="row">
      <div class="ui secondary vertical menu">
        <%= link_to inventory_balances_url, class: "item" do %>
          <i class="left floated list layout icon"></i>
          Lists
        <% end %>
      </div>
    </div>
  </div>
</div>

