/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	font-family: 'Open Sans', sans-serif !important;
  color: #36414c;
}

body.pushable {
  background: #fff !important;
}

body.pushable > .pusher {
  z-index: 1;
  margin-top: 110px;
  padding-top: 20px;
}

body.pushable > .pusher.dimmed {
  z-index: 99;
  margin: 0;
}

#header {
  font-size: 0.9em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

#header .searchWide {
  width: 25em;
}

#header .logoSmall {
  width: 45px;
  height: 45px;
}

.launch.icon.item .content.icon {
  color: #000 !important;
}

#header h4.title {
  padding: 10px;
}

#header #page-title {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.noMargin {
  margin: 0 !important;
}

.buttonAction {
  padding-top: 0.8em !important;
  padding-bottom: 1.1em !important;
}

/*dropdown */

.ui.uncover.sidebar {
  z-index: 999;
}

.ui.secondary.inverted.menu .dropdown.item:hover{
  color: rgba(0,0,0,.87)!important;
  font-weight: bold;
}

.ui.sidebar {
  overflow: visible !important;
}

.ui.vertical.menu .item > i.icon.left.floated {
  float: left;
  margin: 0 .5em 0 0;
}

.topbread{
  padding-top: 13px;
}

#desk div.item {
  margin: 10px 0;
}

#desk div.item div.item {
  margin: 10px 20px;
}

#desk div.item a {
  color: #36414c;
}

/*dashboard */

body#dash{
	background-color: #4B4C9D;
}
.clr{
	background-color: #4B4C9D !important;
  color: #FFF !important;
}
.dfilter{
	display:none;
}
.ui.header{
  font-family: 'Open Sans', sans-serif !important;
  color: #fafbfc !important;
}
.app-icon{
	padding: 20px;
	display: inline-block;
	margin: auto;
	text-align: center;
	border-radius: 16px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	width: 72px;
	height: 72px;
	max-height: 100%;
	max-width: 100%;
}
#dash i{
	color: #fafbfc;
}
.case-label {
	font-size: 12px;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 5px rgba(0, 0, 0, 0.5);
	font-family: 'Open Sans', sans-serif !important;
}
.segment{
	margin-top: 80px;
}
.header-transparent{
	background-color: rgba(255, 255, 255, 0.9) !important;
}
.dropdown{
	color : #8D99A6 !important;
}
.ui.grid>.row>.column{
	margin-bottom: 35px;
}

/* Login */
body#loginpage > .grid {
	height: 100%;
}
.image.header {
	margin-top: -100px;
}
#loginpage .column {
	max-width: 450px;
}
/*purchase page */
.pusher{
	margin-top: 130px;
}
.header-transparent{
	background-color: #f5f7fa !important;
}
.dropdown{
	color : #8D99A6 !important;
}
.line{
	border-right: 1px solid #d1d8dd;
	border-left: 1px solid #d1d8dd;
}
.menu> #purchase a{
	font-weight: 900 !important;
}
/*stock entry */
#stockentry #stock .dropdown{
	color : #8D99A6 !important;
}
#stockentry .menu>a{
	font-weight: 400 !important;
}
#stockentry .line-divider{
	border-right: 1px solid #d1d8dd;
	border-left: 1px solid #d1d8dd;
}
/* stock */
.line{
 	border-right: 1px solid #d1d8dd;
 	border-left: 1px solid #d1d8dd;
}
#stock .menu>a{
 	font-weight: 900 !important;
}
i.language-icon{
  padding: 2px 70px !important;
}