<% content_for :title_page, "User Management Edtitor" %>
<% content_for :breadcrumb, "Administration" %>
<% content_for :page_menu do %>
  <%= render 'user_managements/shared/form_action_links' %>
<% end %>

<div id="purchase">
	<form class="ui form">
		<div class="ui segment">
			<div class="ui stackable two column grid">
			  <div class="seven wide column left floated">
			  	<div class="field">
				    <label>Full Name*</label>
				    <input type="text" name="pq-number" placeholder="">
				  </div>
				  <div class="field">
				    <label>Company Id</label>
				    <input type="text" name="pq-number" placeholder="">
				  </div>
				 	<div class="field">
				    <label>Email</label>
				    <input type="text" name="pq-number" placeholder="">
				  </div>
				  <div class="field">
				    <label>Mobile Phone</label>
				    <input type="number" name="pq-number" placeholder="">
				  </div>
			  </div>
			  <div class="seven wide column right floated">
				  <div class="field">
				    <label>User Group*</label>
				    <select class="ui dropdown">
						  <option value="">Active</option>
						  <option value="1">Lorem Ipsum</option>
						  <option value="0">Lorem Ipsum</option>
						</select>
				  </div>
			  	<div class="field">
				    <label>User Name*</label>
				    <input type="text" name="pq-number" placeholder="">
				  </div>
			  	<div class="field">
				    <label>Password (leave blank if unchanged) *</label>
				    <input type="text" name="pq-number" placeholder="">
				  </div>
			  </div>
			</div>
		</div>
	</form>
</div>

